@import "config";
@import "menu";

* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  color: rgb(70, 69, 69);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: rgb(70, 69, 69);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    background: linear-gradient(#fcf7f7e0, #ebe1e1cc), url("../img/back3.jpeg");

    background-size: cover;
    background-position: top;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 2px solid;
  height: 250px;
  width: 250px;
}

.bio {
  grid-area: bio;
  font-size: 1.3rem;
}

.job-1 {
  grid-area: job1;
}
.job-2 {
  grid-area: job2;
}
.job-3 {
  grid-area: job3;
}

.job {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
  text-align: center;
  & h3 {
    font-weight: 600;
  }
  & p {
    line-height: 2;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: #444;
  height: 60px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project-image {
  width: 100%;

  & img {
    width: 100%;
    height: 200px;
  }
}

.project {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 2px 4px 4px rgb(219, 211, 211);

  & h3 {
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
  }
  & p {
    text-align: center;
  }
}

.list {
  list-style: none;

  & li {
    display: inline-block;
    padding: 0.1rem 0.4rem;
    margin-right: 0.5rem;
    border-bottom: 1px solid $secondary-color;
  }
}

.buttons {
  text-align: center;
  margin-top: 2rem;
}

.view {
  padding: 2px 3px;
  border: 1px solid $secondary-color;

  &.view-code {
    margin-right: 2px;
  }

  &.view-live {
    background-color: $secondary-color;
    color: #fff;
  }
}

#work {
  background-color: #ededed;
}

.boxes div {
  font-size: 1.4rem;
  border: 3px solid #444;
  padding: 1rem 2.1rem;
  @include easeOut;

  &:hover {
    padding: 0.5rem 1.5rem;
    background: $secondary-color;
    span {
      color: #fff;
    }
  }
}

@import "mobile";
